# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Gradio and project-specific
uploads/
*.pptx
*.pdf

# Virtual environment
venv/
.env

# Ignore IDE specific files
.idea/

# FAISS index files
faiss_index/
*.index

# System files
.DS_Store
Thumbs.db
